@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1571139849258'); /* IE9 */
  src: url('iconfont.eot?t=1571139849258#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABsAAAAKOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDFAqBCIEOATYCJAMQCwoABCAFhG0HQRvxBcguIScbXgRVTRYLnCsv+IERDi2I+TQeqjH2b+8WEU0miSg6naQJTzSiZhKETCpMp3/JoiX8/1tr/8xDnXxqCbOksvJnb3X2zQ1qmRDp/jqECCFCaJAgaQME5ITPc0D7SpDOL03PBhDY/OfzXE5vAh3I/HZ2brNNy+a26/lRL8A4oEDHGrQIiigQbpheHOSgb+0m0GpSlmdvaGIawlI1KBA3uiZBeJeWMqg1C403M1O8EtBcnn0GXsbvxz/lwhQNVTVy/3pQhZ5fSb2+47PcE2RAgPMbULEEJHF6Wz7hEwHn07qZ3wrQKIXyq0vv/6jUxiBuGu7/8YpKNKrs7WAVViq/OluF4FeXQuFXr00Fzwg076tjwBxmx71Rv6O9pfE2ob201vboqG13yei6nkJ1cgmnqDaZvk7Pppu7oPyZj9nvrMus9of3p83Np1arXn8EF/1cPfB+AtRvZShvfgrByK6Y1NpXOJbg60djMLFXmhUCw9MMxobMrSqUmbpavYimdqaBBa1a8V8V7/WmIjDAXCQ07yyBaJOJDFWzKTLZJTRos4pGzTbRatHw/DZ9OJ/IFiy4AAjdHlB0ekfV7YVM9hUNBr2jUXc+tDqIvhXbzKRHdzlKAlUi7xBdYQ5tIiI61U+itmFJfGuN/Czyrp4jpXzxWBtGB7mKMd1NrSwEJZQzmwyB/dCyGHE5M1AR+Y4QbrtQoHcPyivMhqhdHJIISEXIdhA6BeOgfWshevr8JKTZYJHwF8dMPQtxXXrnRElekYEc9jlMjq7c07VJUyYIFEFxjI0YAt2QxcIQ7n03A1IIeR2BoqutUDejrL68+YD9h9ugVXVxRokaGQ3qmapGzzhnW1zXOsJ/LikmAAAA') format('woff2'),
  url('iconfont.woff?t=1571139849258') format('woff'),
  url('iconfont.ttf?t=1571139849258') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1571139849258#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e70e";
}

.icon-arrowright:before {
  content: "\e70f";
}

.icon-back:before {
  content: "\e712";
}

